@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Montserrat:wght@100;200;300;400&family=Tiro+Gurmukhi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: linear-gradient(to right top, 
    #3b9614, #3ca014, #3ca913, 
    #3cb313, #3cbd12, #37b911, 
    #33b411, #2eb010, #259c0e, 
    #1d890b, #157608, #0e6406);

    --glass: linear-gradient(to right top, 
    #9a9f98, #a0a59e, #a6aca5, 
    #adb2ab, #b3b9b2, #b4bab3, 
    #b5bbb4, #b6bcb5, #b2b7b0, 
    #adb3ac, #a9aea7, #a5aaa3);
}

body{
    /* background-image: var(--bg-color); */
    background-color: #C0DAB7;
    font-family: 'Tiro Gurmukhi', serif;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

#data-wrapper{
    height: 25rem;
    width: 100vw;
    /* margin: 40% auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}

#container{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: relative;
    /* background-color: grey; */
}

#container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: var(--glass);
    opacity: 0.25;
    border-radius: 20px;
    z-index: 5;
    box-shadow: 0 0 8px;
}

#temp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#temp > h2{
    font-family: 'Alumni Sans Inline One', cursive;
    font-size: 5.2em;
    letter-spacing: 5px;
    background-image: var(--bg-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#feels {
    font-size: 1.2em;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#humidity {
    font-size: 1.2em;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#condition-icon{
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#condition{
    position: absolute;
    top: 27%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-clip: content-box;
    overflow: visible; */
    letter-spacing: 1.5px;
    /* background-color: blue;*/
}

/* #condition>img,#condition>p{
    display: inline;
} */

/* #condition> p{
    font-size: 1em;
} */
/* #condition>img{
    background-color: white;
    z-index: -1;
} */

#wind{
    font-size: 1em;
    position: absolute;
    top: 27%;
    right: 10%;
    transform: translate(20%, -50%);
}

#location{
    font-size: 0.75em;
    position: absolute;
    top: -7%;
    left: 12%;
    transform: translate(-20%, 50%);
}

#time{
    font-size: 1.2em;
    position: absolute;
    top: -10%;
    right: 10%;
    transform: translate(20%, 50%);
}

#loading-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
}


#forecast-wrapper{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 100vw;
    border-radius: 20px;
    /* background-color: white; */
    /* margin-bottom: 50px; */
}

#forecast-container{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    /* background-color: hotpink; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
}

.forecast{
    width: 90%;
    height: 4em;
    border-radius: 10px;
    background-color: honeydew;
    margin: auto;
    /* padding: 1.5em; */
    font-size: 80%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    /* justify-content: center;
    align-items: center; */
    /* gap: 1rem */
    /* position: relative; */
}

.forecast> p {
    grid-column: 1/4;
    /* background-color: #37b911; */
    text-align: center;
}

.for_img{
    height: 2.5em;
    width: 2.5em;
    /* background-color: #0e6406; */
    grid-column: 4/4;
    /* float: right; */
    /* margin: auto; */
    /*display: inline-block; */
    /* top: 50%;
    right: 10%;
    transform: translateY(-50%); */
}

@media screen and (min-width: 550px) {
    
    #data-wrapper{
        width: 60%;
    }
}


@media screen and (min-width: 900px) {
    
    #data-wrapper{
        width: 35%;
    }

    #forecast-wrapper{
        width: 80vw;
    }
    
    #forecast-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    
    .forecast{
        width: 80%;
        height: 4em;
    }
}